colorama==0.4.6
dill==0.3.8
matplotlib==3.9.2
numpy==2.1.3
pandas==1.5.3
Pillow==10.1.0
python_box==7.2.0
PyYAML==6.0.1
Requests==2.32.3
scikit_learn==1.5.2
seaborn==0.13.2
setuptools==49.2.1
tensorflow==2.16.1
tqdm==4.66.5
-e .